<nav>
  <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <div class="row hide-on-med-and-down">
      <div class="col s4">
        <a routerLink="/browse/new-releases" class="brand-logo">Spotify</a>
      </div>

      <div class="col s4">
        <form (ngSubmit)="submitForm()" [formGroup]="searchForm">
        <div class="input-field">
          <input formControlName="searchTerm"
                 id="search" 
                 type="search" 
                 required 
                 class='center-align' 
                 placeholder='Search'>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      </div>

      <div class="col s4">
        <ul id="nav-mobile" class="right ">
          <li *ngIf='!this.authService.isLoggedIn()'><a (click)="logIn()">Log In</a></li>
          <li *ngIf='this.authService.isLoggedIn()'><a >Welcome</a></li>          
        </ul>
      </div>
    </div>


  </div>
</nav>