.nav-wrapper{
    /*background-color: #224099;*/
      background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.input-field{
    color: white;
}

input[type="search"] {
  height: 64px !important; /* or height of nav */
}

input[type="search"]:hover {
    cursor: pointer;
}

input[type="search"]:focus { 
    background-color:#212121;
    color: white !important;
}

.material-icons{
    color: white ;
}

input:-webkit-autofill{
    background-color:black;
    color: white;
}

input{
    border-radius: 2rem;
    margin-bottom: 0;
}

/*input:focus{
 width: 100%;
}*/