<div class="row">
  <div class="col s12">
    <ul class="tabs tabs-fixed-width music-tabs">
      <li class="tab col s3">
        <a [routerLink]="['/search', searchService.searchTerm, 'artist']" routerLinkActive="active">Artists</a>
      </li>

      <li class="tab col s3">
        <a [routerLink]="['/search', searchService.searchTerm, 'track', 'artist']" routerLinkActive="active"(click)="makeActive('Tracks')"[ngClass]="{ active : isActive === 'Tracks'}">Tracks</a>
      </li>

      <li class="tab col s3">
        <a [routerLink]="['/search', searchService.searchTerm, 'album']" routerLinkActive="active"(click)="makeActive('Albums')"[ngClass]="{ active : isActive === 'Albums'}">Albums</a>
      </li>

      <li class="tab col s3">
        <a [routerLink]="['/search', searchService.searchTerm, 'playlist']" routerLinkActive="active"(click)="makeActive('Playlists')"[ngClass]="{ active : isActive === 'Playlists'}">Playlists</a>
      </li>

    </ul>

    <router-outlet></router-outlet>

  </div>