<div id="test1" class="col s12">
  <div class="row">
    <div class="col m4 s6" *ngFor='let album of albums'>
      <a (click)="passAlbumData(album, album.images[0].url)">
        <div class="card">
          <div class="card-image">
            <img src="{{ album.images[0].url }}" class="">
            <div class="">
              <div class=''><span class="material-icons">play-arrow</span></div>
            </div>
          </div>
          <div class="card-content artist-info">
            <p>{{ album.name }}</p>
            <hr>
            <p>{{ album.artists[0].name}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>