.side-bar{
    background-color: rgba(0, 0, 0, 0.7);
    width: 275px;
    height: 100%;
    color: white;
    position: fixed;
    text-align: center;
}

.side-bar-list{
    margin-top: 70px;
    font-size: 18px;
}

.side-bar-list > li{
    padding: 15px 0;
}

.side-bar-nav{
    color: white;
}

li{
    padding: 5px 0 ; 
}

hr{
    width: 80%;
}