.side-bar{
    background-color: rgba(0, 0, 0, 0.7);
    width: 275px;
    height: 100%;
    color: white;
    position: fixed;
    text-align: center;
}

.side-bar-list{
    margin-top: 6rem;
    font-size: 18px;
}

.side-bar-list > li{
    padding: 15px 0;
}

.side-bar-list > a > li {
    font-weight: bold;
    font-size: 1.5rem;
}

.side-bar-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b0afaf;
}

.side-bar-nav{
    color: white;
}

li{
    padding: 10px 0 ; 
}

hr{
    width: 80%;
}