.side-bar{
    background-color: rgba(0, 0, 0, 0.7);
    width: 250px;
    height: 100%;
    color: white;
    position: fixed;
    text-align: center;
}

.side-bar-list{
    margin-top: 70px;
}

.side-bar-nav{
    color: white;
}

li{
    padding: 5px 0 ; 
}

hr{
    width: 80%;
}