.main-row{
    padding-top: 30px;
    background-size: contain;
    margin: auto;
}

.small{
    transition: 0.2s ease-in;
}

.small:hover{
    transform: scale(1.3);
}

.trackInfo{
    transition: .3s ease-in all;
    cursor: pointer;
}
.trackInfo:hover{
    background-color: lightseagreen;

}

.active{
    background-color: lightseagreen;    
}
