.main-row{
    padding-top: 30px;
    background-size: contain;
}

.trackInfo{
    transition: .3s ease-in all;
    cursor: pointer;
}
.trackInfo:hover{
    background-color: lightseagreen;

}

.active{
    background-color: lightseagreen;    
}
