<footer class="page-footer valign-wrapper">
  <div class="container">
    <h6>Song title</h6>
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="row">
          <div class="col s4 ">
            <i class="material-icons medium white-text">skip_previous</i>
          </div>
          <div class="col s4">
            <i class="material-icons medium white-text">play_circle_outline</i>
          </div>
          <div class="col s4">
            <i class="material-icons medium white-text">skip_next</i>
          </div>

        </div>
      </div>

      <div class="col s12">
        <div class="progress">
      <div class="determinate" [ngStyle]="{ width : progress + '%'}"></div>
  </div>
      </div>
    </div>
    </div>
    <!--<div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>-->
</footer>