.material-icons{
    cursor: pointer;
}

.row{
    width: 100%;
    margin-bottom: 0;
}

.info{
    display: flex;
    flex-direction: column;
}

.progress{
    margin-top: -10px;
    background-color: #404040
}

.determinate{
    /*background-color: #22a952;*/
    background-color: white;
}

.small-album-image{
    max-height: 65px;
}