<footer class="page-footer valign-wrapper">
  <div class="container">
    <h6>Song title</h6>
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="row">
          <div class="col s4 ">
            <i class="material-icons medium white-text">skip_previous</i>
          </div>
          <div class="col s4" *ngIf="!playing">
            <i class="material-icons medium white-text" (click)='playSong()'>play_circle_outline</i>
          </div>
          <div class="col s4" *ngIf="playing">
            <i class="material-icons medium white-text" (click)='pauseSong()'>pause_circle_outline</i>
          </div>
          <div class="col s4">
            <i class="material-icons medium white-text">skip_next</i>
          </div>

        </div>
      </div>

      <div class="col s12">
        <div class="progress">
          <div class="determinate" [ngStyle]="{ width : progressBar + '%'}"></div>
        </div>
      </div>
    </div>
  </div>

  <audio id='audio' src="https://p.scdn.co/mp3-preview/6d00206e32194d15df329d4770e4fa1f2ced3f57">
  </audio>
  <!--<div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>-->
</footer>