<footer class="page-footer valign-wrapper">

  <div class="row">

    <div class="col s3" >
      <div class="row" [hidden]="!imageUrl">
        <div class="col s4" >
          <a [routerLink]="[playlistUrl, 'index', this.musicPlayer.playlistIndex]">
            <img src="{{ imageUrl }}" class='small-album-image responsive-img' alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="col s6 ">
      <div class="row center-align">
        <div class="col s4 ">
          <i class="material-icons small white-text" (click)="playPrev()">skip_previous</i>
        </div>
        <div class="col s4" *ngIf="!playing">
          <i class="material-icons small white-text" (click)='playSong()'>play_circle_outline</i>
        </div>
        <div class="col s4" *ngIf="playing">
          <i class="material-icons small white-text" (click)='pauseSong()'>pause_circle_outline</i>
        </div>
        <div class="col s4">
          <i class="material-icons small white-text" (click)="playNext()">skip_next</i>
        </div>

      </div>
      <div class="progress">
        <div class="determinate" [ngStyle]="{ width : progressBar + '%'}"></div>
      </div>
    </div>
  </div>

  <audio id='audio' ended="clearSong()" crossorigin="anonymous" src="{{ musicUrl }}">
  </audio>
  <!--<div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>-->
</footer>