<div class="row main-row" >
  <div class="col m3 ">
    <img src="{{ imageUrl }}"  class="responsive-img" alt="">
  </div>

  <div class="col m9">
    <div class="row">
      <div class="col m12" *ngFor="let track of tracks; let i = index">
        <div class="row trackInfo white-text">
          <div class="col m2">
            <p>{{ i + 1 }}</p>
          </div>
          <div class="col m5">
            <p>{{ track.track.name }}</p>
          </div>
          <div class="col m2">
            <p>{{ track.track.duration_ms | formatDuration}}</p>
          </div>
          <div class="col m3" 
               *ngIf="track.track.preview_url"
               (click)="playTrack(track, track.track.preview_url)">
            <p>Play Preview</p>
          </div>
           <div class="col m3" *ngIf="!track.track.preview_url">
            <p>No Preview</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
