<div class="row" >
  <div class="col m4 s6 data-container" *ngFor='let data of results'>
    <!--<ng-container *ngIf='data.images'>-->
    <a *ngIf='searchType !== "artist" && !data.owner' 
      (click)="getTracks(data.images[0].url, data.id)">
      <div class="card">
        <div class="card-image card-overlay">
          <img src="{{ data.images[0].url }}" class='responsive-img'>
          <div class="overlay">
              <i class="material-icons medium">play_circle_filled</i>
            </div>
          <span class="card-title hide-on-small-only">{{ data.name }}</span>
        </div>
        <!--<div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>-->
      </div>
    </a>

    <a *ngIf="searchType !== 'artist' && data.owner"
      (click)="getPlaylistTracks(data.images[0].url, data.owner.id, data.id)"
      >
      <div class="card">
        <div class="card-image card-overlay">
          <img src="{{ data.images[0].url }}" class='responsive-img'>
          <div class="overlay">
              <i class="material-icons medium">play_circle_filled</i>
            </div>
          <span class="card-title hide-on-small-only">{{ data.name }}</span>
        </div>
      </div>
      </a>

   
       <a [routerLink]="['/search', 'artist', data.id]" 
          *ngIf="searchType === 'artist'">
      <div class="card">
        <div class="card-image">
          <img src="{{ data.images[0].url }}" class='responsive-img'>
          <span class="card-title hide-on-small-only">{{ data.name }}</span>
        </div>
        <!--<div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>-->
      </div>
    </a>
    <!--</ng-container>-->

  </div>
</div>
