@media (max-width: 400px) {
    img{
        height: 150px;
    }
}

@media (min-width: 400px) {
    img{
        height: 150px;
    }
}

@media (min-width: 450px) {
    img{
        height: 175px;
    }
}

@media (min-width: 500px) {
    img{
        height: 200px;
    }
}

@media (min-width: 550px) {
    img{
        height: 210px;
    }
}

@media (min-width: 575px) {
    img{
        height: 220px;
    }
}

@media (min-width: 600px) {
    img{
        height: 200px;
    }
}

@media (min-width: 700px) {
    img{
        height: 210px;
    }
}

@media (min-width: 800px) {
    img{
        height: 225px;
    }
}

@media (min-width: 860px) {
    img{
        height: 235px;
    }
}

@media (min-width: 900px) {
    img{
        height: 250px;
    }
}

@media (min-width: 950px) {
    img{
        height: 265px;
    }
}

@media (min-width: 993px) {
    img{
        height: 225px;
    }
}

@media (min-width: 1125px) {
    img{
        height: 240px;
    }
}

@media (min-width: 1200px) {
    img{
        height: 255px;
    }
}

@media (min-width: 1300px) {
    img{
        height: 285px;
    }
}

@media (min-width: 1400px) {
    img{
        height: 300px;
    }
}

@media (min-width: 1500px) {
    img{
        height: 325px;
    }
}

@media (min-width: 16000px) {
    img{
        height: 350px;
    }
}

@media (min-width: 1800px) {
    img{
        height: 385px;
    }
}

/*img{
    height: 15em;
}*/