 <div id="test2" class="col s12">
     <div class="row">
        <div class="col m4 s6" *ngFor='let album of albums'>
          <a (click)="getPlaylistData(album.id, album.images[0].url)">
            <div class="card fade-in">
            <div class="card-image card-overlay">
              <img src="{{ album.images[0].url }}">
              <div class="overlay">
              <i class="material-icons medium">play_circle_filled</i>
            </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>