<div id="" class="col s12">
  <div class="row">
    <div class="col m4 s6" [ngClass]="{ 'mood-playlist': i < 2}" *ngFor='let playlist of results; let i = index;'>
      <a (click)="getPlaylistData(playlist.id, playlist.images[0].url)">
         <div class="card slide-in-fwd-center">
          <div class="card-image card-overlay">
            <img src="{{ playlist.images[0].url }}">
            <div class="overlay">
              <i class="material-icons medium">play_circle_filled</i>
            </div>
          </div>
          <!--<div class="card-title hide-on-small-only">
            <p class=''>{{ playlist.name }}</p>
          </div>-->
        </div>
      </a>
    </div>
  </div>
</div>