.container{
    background: url('https://i.scdn.co/image/ccbe7b4fef679f821988c78dbd4734471834e3d9');
}

.card-image > .artist-info-image{
    width: 50%;
    height: 50%;
    display: block;
    margin:auto;
}

.artistPage{
    text-align: center;
    color: white;
}

.artist-image{
    max-height: 300px;
}

.artist-info{
    margin: 0 0 10px 0;
    color: #fff;
    opacity: 0.7;
}

.album-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-container-child{
    width: 30%;
    margin: 5px;
}

@media (max-width: 1093px) {
    .album-container-child{
        width: 45%;
        margin: 5px;
    }
}