<div class=" center-align" *ngIf="artistInfo">
  <div class="">
    <img src="{{ artistInfo.images[0].url }}" class='artist-image'alt="">
    <h3>{{ artistInfo.name }}</h3>
  </div>
  <br>

  <!--<div class="row center-align">
    <h4>Popular Tracks</h4>
    <br>
    <br>
    <div class="col s12" *ngFor="let track of artistTracks; let i = index">
      <div class="row">
         <div class="col s2">
        <p>{{ i + 1 }}</p>
      </div>

      <div class="col s5">
        <p>{{ track.name }}</p>
      </div>

      <div class="col s2">
        <p>{{ track.duration_ms | formatDuration}}</p>
      </div>
      </div>
    </div>
  </div>-->

  <div>
    <h2>Artist Info Goes Here</h2>
  </div>

  <h3>Albums</h3>
  <div class="row">
    <div class="col l4 m6 s12" *ngFor="let album of artistAlbums; let i = index">
      <div class="card" *ngIf='i <= 2'>
          <div class="card-image">
            <img src="{{ album.images[0].url }}" class="">
            
          </div>
          <div class="card-content artist-info">
          </div>
    </div>
  </div>

</div>
