<div class="artistPage center-align" *ngIf="artistInfo">
  <div style="margin-top: 2%;">
    <!--<img src="{{ artistInfo.images[0].url }}" class='artist-image'alt="">-->
    <h3>{{ artistInfo.name }}</h3>
    <p>{{ artistInfo.followers.total.toLocaleString() }} Followers</p>
    <div class="card z-depth-0" style="background-color: transparent;">
      <div class="card-image">
        <img src="{{ artistInfo.images[0].url }}" class="artist-info-image" alt="{{artistInfo.name}}">
      </div>
    </div>
  </div>
  <br>

  <!--<div class="row center-align">
    <h4>Popular Tracks</h4>
    <br>
    <br>
    <div class="col s12" *ngFor="let track of artistTracks; let i = index">
      <div class="row">
         <div class="col s2">
        <p>{{ i + 1 }}</p>
      </div>

      <div class="col s5">
        <p>{{ track.name }}</p>
      </div>

      <div class="col s2">
        <p>{{ track.duration_ms | formatDuration}}</p>
      </div>
      </div>
    </div>
  </div>-->

  <!--<div>
    <h2>Artist Info Goes Here</h2>
  </div>-->
  <br><br>

  <h5>Albums</h5>
  <div class="row">
    <div class="col l3 s6" *ngFor="let album of artistAlbums; let i = index">
      <div class="card" *ngIf='i <= 3'>
        <a (click)='getPlaylist(album.images[0].url, album.id)'>

          <div class="card-image card-overlay">
            <img src="{{ album.images[0].url }}" class="">
             <div class="overlay">
              <i class="material-icons medium">play_circle_filled</i>
            </div>
          </div>
          <!--<div class="card-content artist-info">
          </div>-->
        </a>
      </div>
      <div *ngIf='i <= 3'>
        <a (click)='getPlaylist(album.images[0].url, album.id)' style="color: white;">
          <p class='info'>{{ album.name }}</p>
        </a>
        <p class='info artist-info'>By {{ album.artists[0].name }}</p>
      </div>

    </div>
  </div>


  <br>
  <h5>Singles</h5>
  <div class="row" *ngIf='artistTracks'>
    <div class="col l3  s6" *ngFor='let track of artistTracks'>
      <div class="card">
        <a [routerLink]="['/album', track.id]">
          <div class="card-image card-overlay">
            <img src="{{ track.images[0].url }}" class="">
            <div class="overlay">
              <i class="material-icons medium">play_circle_filled</i>
            </div>

          </div>
          </a>
          
      </div>
      <a [routerLink]="['/album', track.id]">
        <p class="info">{{ track.name }}</p>
      </a>

    </div>

  </div>

</div>