<div class="row">
  <div class="col l3 hide-on-med-and-down" style="padding-left: 0;">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col l9 s12" *ngIf="this.authService.isLoggedIn()">
    <!--<app-music-list></app-music-list>-->
    <router-outlet></router-outlet>
  </div>

  <div class="col l9 s12 greeting" *ngIf="!this.authService.isLoggedIn()">
    <!--<app-music-list></app-music-list>-->
    <h3>Please Log In With Your Spotify Account</h3>
    <p>(Spotify makes you log in before you can use this)</p>
  </div>
</div>

