.music-list{

    height: 700px;
    margin-top: 20px;
}

.tabs.tabs-fixed-width{
    background-color: transparent;
}

.tabs .tab a{
    color: white;
}


.active {
      border-bottom: solid 2px #1db954;
      display: inline;
      padding-bottom: 4px;
}




/*.tabs.indicator {
	background-color:#009BAD !important;
}*/