 <div class="music-list" *ngIf='hasLoggedIn'>
   <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width ">
        <li class="tab col s3"><a [routerLink]="['/browse/new-releases']" class='active'>New Releases</a></li>
        <li class="tab col s3"><a [routerLink]="['/browse/featured']">Featured</a></li>
        <li class="tab col s3"><a [routerLink]="['/browse/moods']">Moods</a></li>
      </ul>
    </div>
   
      <!--<app-new-releases></app-new-releases>
      <app-featured></app-featured>
      <app-moods></app-moods>-->
      <router-outlet></router-outlet>
      

  </div>
 </div>



 
